/*Formato Footer*/
footer {
    background-color: $color-terciario;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.6em;
    @include alineacion (center, center, center, center);
    text-align: center;
    .icono { 
        @include ancho-alto (2em, 2em);
        margin-right: 0.5em;
    }
    .icono-logo {
        @include ancho-alto (6em, 6em);
        margin: 1.50em;
    }
    .redes-footer {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color-secundario;
        p {
            font-family: $font-secundario;
            margin: 0;
            font-size: 1em;
    }
    }
}
.volver {
    display: block;
    text-align: right;
    margin: 1.25em; 
    img  { 
        @include ancho-alto (2em, 2em);
    }
    .va {
    font-size: 1em;
    color: $color-secundario;
    font-weight: bold;
}   
}