/*Formato Header*/
header {
    background-color: $color-primario; 
    box-shadow: 0em 0.18em 0.3em rgba(0, 0, 0, 0.2);
    padding-top: 3em;
    .contenedor-header { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        img { 
            justify-items: left;
            width: 6em;
            margin-right: auto;
            margin-left: 2em;
            animation: aparecer 3s linear 0s 1;
        }
        @keyframes aparecer {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
        }
        h1  {
        font-family: $font-primario;
        font-size: 6em;
        letter-spacing: 0.4em;
        color: $color-secundario;
        text-align: center;
        font-weight: bold;
    }
    .navbar-custom {
        @include padding-distintos (3em, 1em, 2em, 2em);
        background-color: $color-primario !important;
        
        li {
            list-style-type: none;
            @include padding-distintos (1.5em, 0.5em, 1em, 1em);
            font-size: 1.8em;
            font-family: $font-primario;
            font-weight: 500;
            color: $color-secundario;
            display: inline-flex;
            @include alineacion (center, center, center, center);
          }
    } 
    .carrito-usuario {
        display: flex;
        justify-content: end;
        img {
        @include ancho-alto (3em, 3em);
        padding: 0.5em;
    }
    }
}
a {
    text-decoration: none;
    color: $color-secundario;
    font-family: $font-secundario;
    }
p {
    font-size: 1.5em;
    color:$color-secundario;
    font-family: $font-secundario;
    }