.caja-vino {
    @include ancho-alto (19em, 30em);
    background-color: $color-primario;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: $color-secundario;
    margin: 2em;
    transition: all 0.5s;
    &:hover {
        border: 0.1em solid $color-secundario;
        }
} 

.comprar {
    &hover {
    background-color: $color-secundario;
    font-weight: bolder;
    color: $color-primario;
} 
}