@mixin padding-distintos ($padding-top, $padding-bottom, $padding-left, $padding-rigth){ 
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    padding-left: $padding-left;
    padding-right: $padding-rigth;
}
@mixin  alineacion ($justify-content, $justify-items, $align-content, $align-items){ 
    justify-content: $justify-content;
    justify-items: $justify-items;
    align-content: $align-content;
    align-items: $align-items;
}
@mixin margenes ($margin-top, $margin-bottom){
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
}
@mixin ancho-alto ($width, $height){
    width: $width;
    height: $height;
}